{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div {{ stimulus_controller('login') }}>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form data-login-target="form" action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="form-control">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <br>
    <p>Not registered? Register <a href="{{ path('app_register') }}">here</a>.</p>
    </div>
{% endblock %}
