<div class="modal" tabindex="-1" data-records-view-target="modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Record View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre data-records-view-target="pre"></pre>
                <iframe data-records-view-target="frame"></iframe>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<table width="100%" class="table table-striped">
    <thead>
        <tr class="align-middle">
            <th>bot id</th>
            <th>id</th>
            <th>path</th>
            <th>timestamp</th>
            <th>content type</th>
            <th>content length</th>
            <th>headers</th>
            <th colspan="3">actions</th><th></th><th></th>
        </tr>
    </thead>
    <tbody>
{% for record in records %}
        <tr class="align-middle">
            <td>{{ record.botId}}</td>
            <td>{{ record.id }}</td>
            <td>{{ record.path }}</td>
            <td>{{ record.timeStamp|date('Y-m-d H:i:s') }}</td>
            <td>{{ record.contentType }}</td>
            <td>{{ record.length }}</td>
            <td><a href='#' {{ stimulus_action('records-view', 'viewHeaders', 'click', { 'headers': record.headers } ) }}> {{ record.headers|ellipsis }}</a></td>
            <td>
                <button class="btn btn-primary btn-sm" data-records-view-bot-id-param="{{ record.botId }}" data-records-view-id-param="{{ record.id }}" data-action="records-view#raw">Raw</button>
            </td>
            <td>
                <button class="btn btn-warning btn-sm" data-records-view-bot-id-param="{{ record.botId }}" data-records-view-id-param="{{ record.id }}" data-action="records-view#view">View</button>
            </td>
            <td>
                <button class="btn btn-secondary btn-sm" data-records-view-bot-id-param="{{ record.botId }}" data-records-view-id-param="{{ record.id }}" data-action="records-view#download">Download</button>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

