{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
<p class="py-4">Found a total of {{ count }} results.</p>
<div {{ stimulus_controller('records_view') }}>
<div class="container py-4">

{{ include('records_list/table.html.twig') }}

<ul class="pagination">
{% if prev >= 0 %}
    <li class="page-item"><a class="page-link" href="{{ path('app_records_list', { botId: bot_id, launchId: launch_id, offset: prev }) }}">Previous</a></li>
{% endif %}
{% if next < records|length %}
    <li class="page-item"><a class="page-link" href="{{ path('app_records_list', { botId: bot_id, launchId: launch_id, offset: next }) }}">Next</a></li>
{% endif %}
</ul>
</div>
<pre data-records-view-target="pre" class="record-view">
</pre>
</div>

{% endblock %}
