{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}

<table class="table table-striped">
    <thead>
        <th>name</th>
        <th>last started</th>
        <th>last finished</th>
        <th>total scans</th>
        <th>total size</th>
        <th>total records</th>
    </thead>
    <tbody>
{% for stat in stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.last_started | date('Y-m-d H:i:s')}}</td>
        <td>{{ stat.last_finished | date('Y-m-d H:i:s')}}</td>
        <td>{{ stat.total_launches }}</td>
        <td>{{ stat.total_bytes | size_format}}</td>
        <td>{{ stat.total_records }}</td>
    </tr>
{%  endfor %}
    </tbody>
</table>
{% endblock %}
