{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body %}
<div {{ stimulus_controller('dashboard') }}>
    <h3>Robots</h3>
    <hr>
    {%if instances|length == 0 %}
    <p class="text-center">Your robots will appear here once scheduled.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>scheme</th>
            <th>address</th>
            <th>agent</th>
            <th>errors</th>
            <th>start</th>
            <th>finish</th>
            <th class="text-center">actions</th>
        </thead>
        <tbody>
            {% for bot in instances %}
                <tr> 
                    <td>{{ bot.id }}</td>
                    <td>{{ bot.scheme }}</td>
                    <td>{{ bot.domainName|ellipsis }}</td>
                    <td>{{ bot.userAgent|ellipsis }}</td>
                    <td>{{ bot.hasError | has_error }}</td>
                    <td>{{ bot.startTime | date('H:i') }}</td>
                    <td>{{ bot.endTime | fuzzy_date }}</td>
                    <td class="text-center">
                        <a title="Edit" href="{{ path('app_schedule_edit', { botId: bot.id }) }}" <i class="fa-solid fa-edit"></a>
                        {{ include('modal/robot_delete.twig', { 'botId': bot.id }) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
